{% extends 'base.html' %}
{% block content %}

<div id="ramenbowl">RAMEN BOWL PICTURE HERE</div>

<h1>hi build me </h1> 

<img src="">
<!-- hidden jpgs will be layered here -->

<form method="POST" action="/edit/{{ ramen.id }}">
    {% csrf_token %}

    Your Ramen's Name: <input name="name" value="{{ ramen.name }}">
    Your Instant Ramen Base: <input name="brand" value="{{ramen.brand}}"> 

    <hr/>


    Ingredients: 
    <br/>
    <div class="ingredients">
      
        {% for i in ingredients %}
        
        <img id='thumb' src='{{i.img}}' width='125' height="125">

        <label class="switch">
            <input type="checkbox" name="{{i.name}}" value="{{i.id}}">
            <span class="slider round">{{i.name}}</span>
        </label>
        
        {% endfor %} 
        

    </div>

    <br/>
    <button class="btn" type="submit">Edit-My-Ramen</button>
</form>

{% endblock %}