{% extends 'base.html' %}
{% block content %}

<!-- USER PROFILE -->

    <div class="user-container">
        <div class="user-profile">
            <div class="user-image">
                <div class="user-image-container">
                    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
                <div class="user-content">
                    {{ user.username }}   
                </div>
            </div>
        </div>
    </div>




    <div class="ramen-container">
        <h3>What I've Made!!</h3>

        <div class="ramen-content">
            <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                View All
              </button> -->
            <div class="collapse" id="collapseExample">
              {% for ramen in ramens %}  
              <div class="ramen-card-body">
                <div class="ramen-card-image">
                    <div class="ramen-card-name">
                        {{ ramen.name }}
                            <div class="ramen-card-brand">
                                {{ ramen.brand }}
                                    <div class="ramen-card-ingredients">
                                        "Ingredients go here"
                                        </div>
                                    </div>
                                </div>
                                <div id="edit-delete-btn">
                                    <a href="/userprofile/{{ramen.id}}/delete/">Delete</a>
                                    <a href="/buildramen/{{ramen.id}}/edit/">Edit</a>
                                  </div>
                                </br>
                             </div>
                         </div>
                      {% endfor %}   
                    </div>
                </div>
            </div>


{% endblock %}
