{% extends 'base.html' %}
{% block content %}

<div class="ramen-box">
<img class="ramen-image" src="...">
<br>
<div class="ramen-container">
<div class="ramen-card">
    
    <div class="ramen-body">
      <h5 class="ramen-title">{{ ramen.name }}</h5>
      <p class="ramen-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <hr>
              <div class="ramen-action">
            <a class="ramen-delete" href="/userprofile/{{ramen.id}}/delete/">Delete</a> 
            <a class="ramen-edit"href="/buildramen/{{ramen.id}}/edit/">Edit</a>
</div>
    </div>
  </div>
</div>
        </div>




{% endblock %}