{% extends 'base.html' %}
{% block content %}

<div class="ramen-box">
    <img class="ramen-image" src="...">
    <br>
    <div class="ramen-container">
        <div class="ramen-card">

            <div class="ramen-body">
                <p class="ramen-text">Your Ramen's Name:</p>
                <h5 class="ramen-name">{{ ramen.name }}</h5>
                <br>
                <p class="ramen-text">Your Instant Ramen Base:</p>
                <h5 class="ramen-base">{{ ramen.brand }}</h5>
                <hr>
                <p class="ramen-text">Ingredients:</p>
                {% for i in all_ramen_ingredients %}
                <div class="ingredient-card">
                    <div class="ingredient-content">
                        <span class="ingredient-title">
                            <img src='{{ i.img }}'>
                            {{ i.name }}
                        </span>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <hr>


                {% endfor %}

                    <a class="ramen-edit" href="/buildramen/{{ramen.id}}/edit/"><i class="bi bi-pencil-fill" style="font-size:20px;"></i></a>&nbsp;&nbsp;&nbsp;
                    <a class="ramen-delete" href="/userprofile/{{ramen.id}}/delete/"><i class="bi bi-trash" style="font-size:20px;"></i></a>

            </div>
        </div>
    </div>
</div>



{% endblock %}