{% extends 'base.html' %}
{% block content %}

<!-- USER PROFILE -->

    <div class="user-container">
        <div class="user-profile">
            <div class="user-image">
                <div class="user-image-container">
                    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
                <div class="user-content">
                    {{ user.username }}   
                </div>
            </div>
        </div>
    </div>




    <div class="ramen-container">
        <h3>What I've Made!!</h3>




        {% for r in ramens %}

        <div class="card">
          <a href="/userprofile/{{ r.id }}">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="">
          </div>
          <div id="front" class="card-content">
            <span id="title" class="card-title activator grey-text text-darken-4">{{ r.name }}</span>
            <hr/>
          </div>
          </div>
        </a>
        </div>

        {% endfor %}   
            

{% endblock %}
