{% extends 'base.html' %}
{% block content %}

<h3>Update Your Details</h3>
<div class="user-edit-container">
    <form action="/updateuser/{{ profile.id }}/" method="POST">
        {% csrf_token %}
        <label>Username:
          <input type="text" name="name" value="{{ user.username }}">
        </label>
        <br><br>
        <label>Password:
          <input type="text" name="password" value="{{ user.password }}">
        </label>
        <input type="submit" value="Update Profile">
      </form>
    </div>

{% endblock %}