{% extends 'base.html' %}
{% block content %}

<h1>Sign In</h1>

<div class="container-login">
  <div class="card-login">
    <div class="form-icon"><i class="bi bi-person-circle" style="font-size: 50px;"></i></div>
    <form class="form-login" action="{% url 'login' %}" autocomplete="off" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn" value="login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>
  </div>
  </div>



{% endblock %}