{% extends 'base.html' %}
{% block content %}

<!-- USER PROFILE -->

    <div class="user-container">
        <div class="user-profile">
            <div class="user-image">
                <div class="user-image-container">
                    <img src=""> <!-- Add User Profile Picture -->
                </div>
                <div class="user-content">
                    {{ user.username }}
                    
                </div>
            </div>
        </div>
    </div>


    <div class="user-edit">
        <div class="row">
            <div class="column">
                <!-- CREATE URL/HTML PAGE FOR USER PROFILE EDIT-->
                <a href="/usereditprofile"><button type="button" class="edit-profile-btn">Edit Your Profile</button></a>
            </div>
        </div>
    </div>


    <div class="ramen-container">
        <h3>What I've Made</h3>

        <div class="ramen-content">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                View All
              </button>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
        </div>
    </div>
</div>


{% endblock %}