{% extends 'base.html' %}
{% block content %}

<img id='bowl' src="../../static/image/RedRamenBlackBowl.png" width='373' height='373'>
<img src="">
<img src="">
<img src="">
<img src="">
<img src="">
<img src="">
<img src="">
<img src="">
<img src="">
<img src="">
<img src="">
<img src="">

<div id="title">
<h1>Create-A-Ramen!</h1> 
</div>

<div id="form">
<form method="POST" action="/post/">
    {% csrf_token %}
    Name: <input name="name">
    Ramen: <input name="brand"> 
    <!-- needs input name ="brand" -->
    <hr/>


    Ingredients: 
    <br/>
    <div class="ingredients">

        
        {% for i in ingredients %}
        
        <img id='thumb' src='{{i.img}}' width='125' height="125">

        <label class="switch">
            <input type="checkbox" name="{{i.name}}" value="{{i.id}}">
            <span class="slider round">{{i.name}}</span>
        </label>
        
        {% endfor %} 
    </div>

    <br/>
    <button type="submit">Save-A-Ramen</button>
</form>
</div>


{% endblock %}