{% extends 'base.html' %}
{% block content %}

<div id="ramenbowl">RAMEN BOWL PICTURE HERE</div>

<h1>hi build me </h1> 

<img src="">
<!-- hidden jpgs will be layered here -->

<form method="POST" action="/post/">
    {% csrf_token %}
    Name: <input name="name">
    Ramen: <input name="brand"> 
    <!-- needs input name ="brand" -->
    <hr/>


    Ingredients: 
    <br/>
    <div class="ingredients">
        {% for i in ingredients %}
        <img src='{{ i.img }}' width='125' height="125">
        <label class="switch">
            <input type="checkbox" name='{{ i.name }}' value='{{ i.id }}'>
            <span class="slider round">{{ i.name }}</span>
        </label>
        {% endfor %} 
    </div>

    <br/>
    <button type="submit">Save-A-Ramen</button>
</form>



{% endblock %}