{% extends 'base.html' %}
{% block content %}

<div id="ramenbowl">RAMEN BOWL PICTURE HERE</div>

<h1>hi build me </h1> 

<img src="">
<!-- hidden jpgs will be layered here -->

<form method="POST" action="/post/">
    {% csrf_token %}
    Name: <input name="name">
    Ramen: <input name="brand"> 
    <!-- needs input name ="brand" -->
    <hr/>
    Ingredients: Some kind of code invoking ingredients as buttons.
<!-- <img src="jpg"> some kind of label for ingredient eg/"corn", make this actionable on click or tap
to show from hide JS -->
<!-- needs input name="ingredient" -->
    <br/>
    <button type="submit">Save-A-Ramen</button>
</form>



{% endblock %}