{% extends 'base.html' %}
{% block content %}

<div id="ramenbowl">RAMEN BOWL PICTURE HERE</div>

<h1>hi I'm Built</h1> 

<img src="">

    Ramen Nickname: {{ ramen.name }}
    <br/>
    Brand: {{ ramen.brand }}
    <hr/>
    <h3>Ingredients</h3>

      {% for i in ramen.ingredients.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ i.name }}
            </span>
          </div>
        </div>
    <br/>
    <br/>
    <div id="editdelete">
        <a href="/buildramen/{{ramen.id}}/delete/">Delete</a>
        <a href="/buildramen/{{ramen.id}}/edit/">Edit</a>
      </div>

{% endfor %}  

{% endblock %}